
.chosen{
	background-color: green;
	color:white;
}

.incorrect-chosen{
	background-color: red;
	color:white;
}

.unchosen{
	cursor:;
}

ul li{
	color:rgb(0,128,255);
	display: list-item;
	list-style-type: none;
	font-family: Pavanam;
	width:50%;
	border:1px solid black;
	padding:10px;
	margin:30px auto;
	text-align: center;
	border-radius: 15px;

}

ul li:hover{
	cursor: pointer;
}

p{
	font-family: Pavanam;
	
}

#title{
	margin-left:41%;
}

.question{
	margin-left:49%;
	font-weight: bold;
}


.scoreString{
	margin-left:87.5%;
	display: inline;
	font-size: 125%;
	border:1px solid black;
	padding:1%;
	border-radius: 15px;
}

.correct:hover{
	color:#72bcd4;
}

.incorrect:hover{
	color:#72bcd4;
}

#reload{
	text-decoration: none;
	 color:#000000;
	 margin-left:40%;
	 font-size: 150%;
	 border:1px solid black;
	 padding:1%;
	 border-radius: 15px;
	 margin-bottom:2%;
}