
.chosen{
	background-color: green;
	color:white;
}

.incorrect-chosen{
	background-color: red;
	color:white;
}

.unchosen{
	cursor: default;
}

ul li{
	color:rgb(0,128,255);
	display: list-item;
	list-style-type: none;
	font-family: Pavanam;
	width:50%;
	border:1px solid black;
	padding:10px;
	margin:30px auto;
	text-align: center;
	border-radius: 15px;

}

ul li:hover{
	cursor: pointer;
}

p{
	font-family: Pavanam;
	
}

#title{
	margin-left:41%;
}

.question{
	margin-left:49%;
}


.scoreString{
	margin-left:80%;
	display: inline;
}